<!DOCTYPE html>
<html>
    <head>
        <title> raw plot </title>
        <meta charset='UTF-8'>
    </head>
    <body>
        <div>
        <td>
        <form name = "filt_id" action="/store/plot" method="post" >
        {% csrf_token %}
        <select name = "filt_id">
        {% for c in allproduct %}
        {{ allproduct  }}
        <option>{{ c.m_name }}</option>
        {% endfor %}
        </select>
        <button type="submit">查看存貨</button>
        </form>
        </td>
        </div>
        <div>
        {% autoescape off %}
        {{ plot_div }}
        {% endautoescape %}

        </div>

<!-- <div><h1>{{ m }}</h1><div>
<div><h1>{{ n }}</h1><div> -->
    </body>
</html>