{% extends 'base/base.html' %}

{% block title %}Supplier List{% endblock title %}

{% block breadcrumbs %}
<div style="background-color: #ffdcb9" class="breadcrumbs">
    <div style="background-color: #ffdcb9" class="breadcrumbs-inner">
        <div style="background-color: #ffdcb9" class="row m-0">
            <div style="background-color: #ffdcb9" class="col-sm-4">
                <div style="background-color: #ffdcb9" class="page-header float-left">
                    <div style="background-color: #ffdcb9" class="page-title">
                        <h1 style="color: #cd5c5c; background-color: #ffdcb9">Heme Database</h1>
                    </div>
                </div>
            </div>
            <div style="background-color: #ffdcb9" class="col-sm-8">
                <div style="background-color: #ffdcb9" class="page-header float-right">
                    <div style="background-color: #ffdcb9" class="page-title">
                        <ol style="background-color: #ffdcb9" class="breadcrumb text-right">
                            <li><a style="color: #cd5c5c; background-color: #ffdcb9" href="#">Heme</a></li>
                            <li><a style="color: #cd5c5c; background-color: #ffdcb9" href="#">Supplier</a></li>
                            <li style="color: #cd5c5c; background-color: #ffdcb9" class="active">List</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div style="background-color: #ffdcb9" class="row">
    <div style="background-color: #ffdcb9" class="col-xl-12">
        <div style="background-color: #ffdcb9" class="card">
            <div style="background-color: #ffdcb9" class="card-body">
                <h4 style="background-color: #ffdcb9; color: #cd5c5c"class="box-title">Supplier List </h4>
            </div>
            <div class="card-body--">
                <div class="table-stats order-table ov-h">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th style="color: #cd5c5c; background-color: #ffdcb9" class="serial">#</th>
                                <th style="color: #cd5c5c; background-color: #ffdcb9">s_ID</th>
                                <th style="color: #cd5c5c; background-color: #ffdcb9">s_name</th>
                                <th style="color: #cd5c5c; background-color: #ffdcb9">s_phone</th>
                            </tr>
                        </thead>
                        <tbody style="background-color:#ffdcb9; color: #cd5c5c">
                            {% if supplier %}
                            {% for supplier in supplier %}
                            <tr style="background-color:#ffdcb9; color: #cd5c5c">
                                <td style="color: #cd5c5c; background-color: #ffdcb9" class="serial">{{ forloop.counter }}</td>
                                <td style="color: #cd5c5c; background-color: #ffdcb9">{{ supplier.s_ID }}</td>
                                <td style="color: #cd5c5c; background-color: #ffdcb9">{{ supplier.s_name }}</td>
                                <td style="color: #cd5c5c; background-color: #ffdcb9">{{ supplier.s_phone }}</td>
                            {% endfor %}
                            {% else %}
                                <tr><td style="color: #cd5c5c; background-color: #ffdcb9">No Buyer Data</td></tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div> <!-- /.table-stats -->
            </div>
        </div> <!-- /.card -->
    </div>  <!-- /.col-lg-8 -->

    
</div>
{% endblock content %}