<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Predict!</title>
      <style>
      body {font-family: "sans-serif";}
      button {font-family: "sans-serif"}

    </style>

  </head>
  <body bgcolor= "#ffdcb9">
    <div align="center">
    <h2 style="color: #cd5c5c"> 需求量預測 </h2>
        <table>
    <div style="border:1px solid;background-color: #ffdcb9;border-color: #ffffff;width:380px;height:235px">


    <h3 style="color: #cd5c5c"> 係數矩陣 </h3> {{ x }}

        <img src="{{ img }}" style="align-items: center">
    </div>
        </table>
  </div>
  </body>
</html>